<footer class="app-footer">
  <div class="footer-section">
    <p>
       Powered by 
      <a href="https://open-meteo.com/" target="_blank" rel="noopener noreferrer">
        Open-Meteo API
      </a>
    </p>
  </div>

  <div class="footer-section social-links">
    <a href="https://github.com/cyrineAhmad/weatherly" target="_blank" rel="noopener noreferrer" class="social-link">
      <img src="/github.svg" alt="GitHub logo" />
      GitHub
    </a>

    <a href="https://www.linkedin.com/in/cyrine-ahmad" target="_blank" rel="noopener noreferrer" class="social-link">
      <img src="/linkedin.svg" alt="LinkedIn logo" />
      LinkedIn
    </a>
  </div>
</footer>
